apiVersion: iam.aws.demo.tech/v1alpha1
kind: DBInstance
metadata:
  name: my-db-instance
spec:
  tableName: my-table
  roleName: my-role
  awsRegion: us-east-1
  customTags:
    key1: value1
    key2: value2
  managementPolicies:
  - Observe
  - Create
  - Update
  - Delete
  - LateInitialize